* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./bg.png");
  background-size: cover;
  background-position: left top;
  font-family: "Zilla Slab", serif;
}

.box-container {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 20px;
}

#question {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 25px;
  border-radius: 15px;
  background: rgb(255, 255, 255);
  background: linear-gradient(92.49deg,
      rgba(255, 255, 255, 0.1) 0.18%,
      rgba(255, 255, 255, 0.05) 99.85%);
  backdrop-filter: blur(5px);
  margin-bottom: 30px;
}

#display {
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* padding-left: 5rem; */
  color: white;
  font-size: 32px;
  background-color: #171717;
  border: 2px solid #9dffad;
  border-radius: 15px;
  padding: 15px;
}

#countdown {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: white;
  display: none;
}

#result {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 250px;
  width: 400px;
  background-color: #171717;
  border-radius: 15px;
  border: 2px solid #9dffad;
  color: white;
  text-align: center;
  padding: 2rem;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#result p {
  margin: 5px;
}

#show-time {
  text-align: center;
  color: white;
  margin: 10px 0;
}

.green {
  color: #9dffad;
}

.red {
  color: #eb6565;
}

.bold {
  font-weight: 700;
}

.inactive {
  border: 2px solid white !important;
}

.hidden {
  display: none;
}

.title {
  text-align: center;
  color: white;
  margin: 20px 0;
}

.divider-container {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0 auto;
}

.line {
  height: 2px;
  background: white;
  width: 100%;
}

.title2 {
  color: white;
  display: block;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

button {
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  width: 300px;
  height: 50px;
  color: white;
  background-color: #171717;
  border-radius: 10px;
  border: 2px solid #9dffad;
  cursor: pointer;
}

#nav-button button {
  border: unset;
  background: white;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

#result button {
  margin-top: 20px;
}

#histories {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  width: 100%;
  height: 100%;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  color: white;
  border-radius: 15px;
  background: rgb(255, 255, 255);
  background: linear-gradient(92.49deg,
      rgba(255, 255, 255, 0.1) 0.18%,
      rgba(255, 255, 255, 0.05) 99.85%);
  backdrop-filter: blur(5px);
  margin-bottom: 30px;
}

div#histories .card {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div#histories .card p {
  margin-top: 10px;
}

#modal-background {
  background: rgb(255, 255, 255);
  background: linear-gradient(92.49deg,
      rgba(255, 255, 255, 0.1) 0.18%,
      rgba(255, 255, 255, 0.05) 99.85%);
  backdrop-filter: blur(5px);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
}

div#question {
  padding: 5px 15px;
}

#nav__links a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  margin-left: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

#nav__links a.active {
  color: #9dffad;
}

@media only screen and (max-width: 992px) {
  #histories {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 767px) {
  #histories {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 700px) {
  .box-container {
    padding: 0 20px;
    width: 100%;
    padding-bottom: 20px;
  }

  .card {
    flex-direction: column;
  }

  #nav-button button {
    display: flex;
    padding: 5px;
    background-color: transparent;
    flex-direction: column;
    width: 40px;
  }

  #nav-button span {
    display: block;
    width: 100%;
    height: 4px;
    background: white;
    border-radius: 10px;
    margin: 2px 0;
  }

  #nav__links {
    position: absolute;
    background: black;
    width: 100%;
    left: 0;
    top: 74px;
    padding: 30px;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    right: 20px;
    left: unset;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    display: none;
    z-index: 10;
  }

  #nav__links.active {
    display: flex;
  }

  #nav__links a {
    margin: 7px 0;
  }

  .nav {
    position: relative;
  }
}